# Custom ignore: folders
.dump
.meta

# Haskell ignore

# folders
dist
dist-*
.HTF/
.stack-work/
.cabal-sandbox/
cabal-dev

# files
cabal.sandbox.config
cabal.project.local
cabal.project.local~
.ghc.environment.*
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
*.prof
*.aux
*.hp
*.eventlog
